html,
body {
    width: 700px;
    height: 600px;
    direction: rtl;
}

h3,
h2 {
    color: #62281b;
    text-shadow: 3px -1px 1px #f1e5c6, 0 0 0 #000, 1px -1px 1px #f1e5c6;
    text-align: center;
    line-height: 1.3em;
    /* margin-top: 20px; */
}

input,
textarea {
    direction: rtl;
    unicode-bidi: embed;
}

input {
    width: 330px;
    height: 30px;
}

textarea {
    width: 270px;
    height: 295px;
    margin: 10px 12px;
    text-align: justify;
    text-indent: 0%;
    text-justify: inter-word;
}

button {
    position: absolute;
    left: 420px;
    width: 120px;
    height: 35px;
    background-color: #62281b;
    color: rgb(247, 247, 247);
    font-weight: bold;
    font-size: 20px;
    border: 1px 1px #62281b;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(247, 247, 247);
    color: #62281b;
}

#page {
    position: relative;
    width: 700px;
    height: 500px;
    background-image: url(page.jpg);
}

#pageLeftSide {
    position: absolute;
    right: 300px;
    width: 400px;
    height: 500px;
    text-align: center;
    background-image: url(bg.jpg);
}

#prophetSection,
#sourceSection {
    margin-top: 10px;
}


/* #prophetSection {
    top: 10px;
} */

#hadeethSection {
    top: 120px;
    width: 360px;
    height: 320px;
    margin: 1% 7.5%;
    background-image: url(frame.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#AlHadeethValue {
    margin: 2%;
    padding: 20px 40px;
}

button {
    top: 460px;
}